<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="NorthwindConnection" connectionString="Data Source=(localDb)\Projects;Initial Catalog=Northwind;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="basicServiceBehaviour" name="ProductService" >        
        <endpoint binding="basicHttpBinding" bindingConfiguration=""
          name="basic" contract="Nortwind.Bussiness.Abstract.IProductService" />
        <endpoint binding="mexHttpBinding" bindingConfiguration="" name="mex"
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http:\\localhost:9846" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="basicServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <!--<add service="Nortwind.Service.ProductService" relativeAddress="ProductService.svc" />-->
        <!--<add service="DevFramework.Service.CategoryService" relativeAddress="CategoryService.svc" />-->
        <!--<add service="DevFramework.Service.DilService" relativeAddress="DilService.svc" />
        <add service="DevFramework.Service.DilKelimeService" relativeAddress="DilKelimeService.svc" />
        <add service="DevFramework.Service.VProductService" relativeAddress="VProductService.svc" />-->
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
